<%- include('./partials/header'); -%>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Bhoomi Group</h1>
 				<h3>Welcome</h3>
 				<hr>
 				<a href="/vehicles" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> View all Vehicles!</a>
 			</div>
 		</div>
 	</div>
 </div>
 <script src="scripts/background.js"></script>

<!-- <h1>Landing Page!</h1>

<p>Welcome </p>

<a href="/vehicles">View All Vehicles</a>
 -->
<%- include('./partials/footer'); -%>